ytd-compact-video-renderer:hover .remove-crx {
  opacity: 0.5;
} 

ytd-compact-video-renderer:hover .remove-crx:hover {
  opacity: 0.8;
} 

.hidden-crx.faded-crx .remove-crx {
  display: none;
}

.remove-crx {
  position: absolute;
  bottom: 5px;
  right: -5px;
  opacity: 0;
  padding: 10px;
  user-select: none;
  border-radius: 3px;
  opacity: 0;
  cursor: pointer;
}

.remove-crx img{
  width: 16px;
  height: 16px;
  filter: grayscale(1);
}


.prompt-crx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  animation: fade-in 0.4s;
}

.prompt-crx button {
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  margin: 10px;
  transition: background-color 0.5s;
  opacity: 0.95;
  outline: 0;
}

.prompt-crx button:hover {
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  margin: 10px;
  background-color: #fbfbfb;
  cursor: pointer;
  text-decoration: underline;
}

.shrink-crx {
  /*animation: shrink 0.5s;*/
}

.hidden-crx {
  display: none !important;
  /*border: 1px solid pink;*/
}

.fade-out-crx {
  animation: fade-out 0.7s;
}

.hidden-crx.faded-crx {
  filter: saturate(0);
  background-color: #eee;
  display: block !important;
  transition: all 1s;
}

#show-crx, #hide-crx {
  text-align: right;
  font-size: 13px;
  color: blue;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}

.close-crx {
  position: absolute;
  top: -5px;
  right: -5px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes shrink {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}
